<h2>List</h2>

{{#each model as |contact|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{contact.email}}</h3>
        </div>
        <div class="panel-body">
            <p>E-mail: {{contact.email}}</p>
            <p>Message: {{contact.message}}</p>
        </div>
        <div class="panel-footer text-right">
          {{#link-to 'contacts.edit' contact.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
          <button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete</button>
        </div>          
    </div>
{{/each}}